<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Scraper</title>
        <link rel="SHORTCUT ICON" href="/images/favicon.ico">
        <link rel="icon" href="/images/favicon.ico" type="image/ico">
		<!--bootsrtap-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!--jQuery-->
		<script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
		<!--bootsrtap js-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!--app js-->
		<script type="text/javascript" src="/app.js"></script>
		<!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
		
	</head>
    <body> 
        <h1>SCRAPER</h1>
        <h3>Stealing other people's writing so you can read it here.</h3>
		    <div>
                {{{ body }}}
            </div>  

   <div class="center">
        <div class="socIcon">
            <a href="https://github.com/robertprine2" target="_blank"><img src="images/githubicon.png" class="social img-circle" title="Robert's GitHub" alt="Robert's GitHub"></a>
        </div>
        <div class="socIcon">
            <a href="http://www.linkedin.com/in/robertprine2" target="_blank"><img src="images/linkedinicon.png" class="social img-circle" title="Robert's LinkedIn" alt="Robert's LinkedIn"></a>
        </div>
        <div class="socIcon">
            <a href="http://stackoverflow.com/users/6153599/robert-prine" target="_blank"><img src="images/stackoverflowicon.png" class="social img-circle" title="Robert's Stack Overflow" alt="Robert's Stack Overflow"></a>
        </div>
    </div>  
    <footer>
        &copy; Copyright 2016 Robert Prine
    </footer>
    

    </body>
</html>