<div class="row">
    <div class="col-md-8 whiteBorder scroll">
        {{#each result}}
            <div class="postName">
                <h4>{{title}}</h4>
                <h5>{{url}}</h5>
            </div>
            <div class="postContent">
                <p>{{content}}</p>
            </div>
        {{/each}}
    </div>
    <div class="col-md-4 whiteBorder scroll">
        <h4>Comments</h4>
        <p></p>
    </div>
</div>

