<div class="row">
    <div class="col-md-8 whiteBorder scroll">
        {{#each result}}
            <div class="postName">
                <h4><a href="{{url}}">{{title}}</a></h4>
            </div>
            <div class="postContent">
                <p class="content">{{content}}</p>
            </div>
        {{/each}}
    </div>
    <div class="col-md-4 whiteBorder scroll">
        <h4>Comments</h4>
        <p></p>
    </div>
</div>

